<div class="container">
  <!-- MAIN MENU -->
  <!-- <hr>
  <div class="row mt-2 mb-2">
    <div class="col-sm-12">
      <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
          <a class="nav-link btn btn-outline-danger" href="/rental">DASHBOARD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle text-secondary" href="rental/new" id="rentalDrop" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          RENTAL
        </a>
          <div class="dropdown-menu" aria-labelledby="rentalDrop">
            <a class="dropdown-item" href="/rental/active">ORDERS</a>
            <a class="dropdown-item" href="/rental/invoices">INVOICES</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle btn-outline-secondary" href="client/new" id="clientDrop" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          CLIENTS
        </a>
          <div class="dropdown-menu" aria-labelledby="clientDrop">
            <a class="dropdown-item" href="/client/new">NEW CLIENT</a>
            <a class="dropdown-item" href="/client/list">CLIENT LIST</a>
          </div>
        </li>
        <li class="nav-item">
          <a class=" nav-link disabled" href="/inventory/dashboard">INVENTORY</a>
        </li>
      </ul>
    </div>
  </div>
  <hr> -->

  <!-- NOTE: DASHBOARD DOESN'T HAVE SUBMENU. ALL THE OTHER MODULES DO HAVE A SUB MENU. -->

  <!-- SUB MENU -->
  <!-- <div class="row mt-2 mb-2">
    <div class="col-sm-12">
      <ul class="nav nav-pills justify-content-center">

        <li class="nav-item">
          <a class="nav-link disabled" href="/client/list">CLIENT LIST</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/client/new">CREATE CLIENT</a>
        </li>
      </ul>
    </div>
  </div>
  <hr> -->

  <!-- START CODING HERE -->

</div>

</footer>
